<LumexAccordion>
    <LumexAccordionItem Id="1"
                        Title="Ross Geller"
                        Subtitle="4 unread messages">
        <StartContent>
            <LumexAvatar Bordered="@true"
                         Radius="@Radius.Large"
                         Color="@ThemeColor.Primary"
                         Src="https://i.pravatar.cc/150?img=6" />
        </StartContent>
        <ChildContent>@_content</ChildContent>
    </LumexAccordionItem>

    <LumexAccordionItem Id="2"
                        Title="Sheldon Cooper"
                        Subtitle="3 incompleted steps">
        <StartContent>
            <LumexAvatar Bordered="@true"
                         Radius="@Radius.Large"
                         Color="@ThemeColor.Success"
                         Src="https://i.pravatar.cc/150?img=11" />
        </StartContent>
        <ChildContent>@_content</ChildContent>
    </LumexAccordionItem>

    <LumexAccordionItem Id="3"
                        Title="Bruce Wayne">
        <SubtitleContent>
            <p class="flex">
                2 issues to<span class="text-primary ml-1">fix now</span>
            </p>
        </SubtitleContent>
        <StartContent>
            <LumexAvatar Bordered="@true"
                         Radius="@Radius.Large"
                         Color="@ThemeColor.Secondary"
                         Src="https://i.pravatar.cc/150?img=12" />
        </StartContent>
        <ChildContent>@_content</ChildContent>
    </LumexAccordionItem>
</LumexAccordion>

@code {
    private RenderFragment _content = @<text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</text>;
}