@using LumexUI.Shared.Icons

<LumexCard Class="max-w-sm">
    <LumexCardHeader Class="justify-between pb-0">
        <div class="flex items-center">
            <CalendarClockIcon Size="20" class="mr-1.5 text-primary" />
            <p class="text-small text-foreground-500">16:15, 3 Dec</p>
        </div>
        <LumexButton IconOnly="@true"
                     Size="@Size.Small"
                     Radius="@Radius.Full"
                     Variant="@Variant.Light">
            <EllipsisVerticalIcon Size="20" />
        </LumexButton>
    </LumexCardHeader>
    <LumexCardBody>
        <p class="text-sm">
            User <strong>Clark Kent</strong> invites you to join the route.
        </p>
        <div class="grid grid-cols-5 mt-2 items-center">
            <div class="col-span-3">
                <p class="font-semibold">London, England</p>
                <p class="text-small">06.09.2024 - 13.09.2024</p>
            </div>
            <LumexAvatarGroup Max="2" Class="col-span-2">
                <LumexAvatar Name="A S" Src="https://i.pravatar.cc/150?img=11" />
                <LumexAvatar Name="D N" Src="https://i.pravatar.cc/150?img=12" />
                <LumexAvatar Name="S P" Src="https://i.pravatar.cc/150?img=9" />
                <LumexAvatar Name="J D" Src="https://i.pravatar.cc/150?img=6" />
                <LumexAvatar Name="A N" Src="https://i.pravatar.cc/150?img=2" />
            </LumexAvatarGroup>
        </div>
    </LumexCardBody>
    <LumexCardFooter Class="gap-2">
        <LumexButton FullWidth="@true"
                     Size="@Size.Small"
                     Radius="@Radius.Full"
                     Color="@ThemeColor.Default">
            Reject
        </LumexButton>
        <LumexButton FullWidth="@true"
                     Size="@Size.Small"
                     Radius="@Radius.Full"
                     Color="@ThemeColor.Primary">
            Accept
        </LumexButton>
    </LumexCardFooter>
</LumexCard>
