@namespace LumexUI
@inherits LumexBooleanInputBase

<LumexComponent As="label"
                Class="@RootClass"
                Style="@RootStyle"
                tabindex="0"
                data-slot="base"
                data-checked="@CurrentValue.ToAttributeValue()"
                data-disabled="@GetDisabledState().ToAttributeValue()"
                data-readonly="@GetReadOnlyState().ToAttributeValue()"
                @attributes="@AdditionalAttributes">
    <span class="@StyleUtils.VisuallyHidden">
        <input type="checkbox"
               value="@true"
               checked="@CurrentValue"
               disabled="@GetDisabledState()"
               @onchange="@OnChangeAsync" />
    </span>

    <span class="@WrapperClass" data-slot="wrapper">
        @if( StartContent is not null )
        {
            <span class="@StartIconClass" data-slot="start-icon">
                @StartContent
            </span>
        }

        <span class="@ThumbClass" data-slot="thumb">
            @if( ThumbContent is not null )
            {
                <span class="@ThumbIconClass" data-slot="thumb-icon">
                    @ThumbContent( CurrentValue )
                </span>
            }
        </span>

        @if( EndContent is not null )
        {
            <span class="@EndIconClass" data-slot="end-icon">
                @EndContent
            </span>
        }
    </span>

    @if( ChildContent is not null )
    {
        <span class="@LabelClass" data-slot="label">
            @ChildContent
        </span>
    }
</LumexComponent>
