@using LumexUI.Shared.Icons

<div class="grid gap-4">
    <div class="w-full grid grid-cols-1 gap-4">
        <div>
            <div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
                <LumexNumbox TValue="double?"
                             Label="Temperature °C"
                             Placeholder="25"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_thermometerIcon" />

                <LumexNumbox TValue="double?"
                             Label="Speed"
                             Placeholder="100"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_circleGaugeIcon" />

                <LumexNumbox TValue="decimal?"
                             Label="Price"
                             Placeholder="0.00"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_dollarSignIcon" />
            </div>
            <small class="text-default-500 mt-1">Start</small>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 gap-4">
        <div>
            <div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
                <LumexNumbox TValue="double?"
                             Label="Temperature °C"
                             Placeholder="25"
                             LabelPlacement="@LabelPlacement.Outside"
                             EndContent="@_thermometerIcon" />

                <LumexNumbox TValue="double?"
                             Label="Speed"
                             Placeholder="100"
                             LabelPlacement="@LabelPlacement.Outside"
                             EndContent="@_circleGaugeIcon" />

                <LumexNumbox TValue="decimal?"
                             Label="Price"
                             Placeholder="0.00"
                             LabelPlacement="@LabelPlacement.Outside"
                             EndContent="@_dollarSignIcon" />
            </div>
            <small class="text-default-500 mt-1">End</small>
        </div>
    </div>

    <div class="w-full grid grid-cols-1 gap-4">
        <div>
            <div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
                <LumexNumbox TValue="double?"
                             Label="Temperature °C"
                             Placeholder="25"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_thermometerIcon"
                             EndContent="@_tempCelsiusContent" />

                <LumexNumbox TValue="double?"
                             Label="Speed"
                             Placeholder="100"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_circleGaugeIcon"
                             EndContent="@_speedContent" />

                <LumexNumbox TValue="decimal?"
                             Label="Price"
                             Placeholder="0.00"
                             LabelPlacement="@LabelPlacement.Outside"
                             StartContent="@_dollarSignIcon"
                             EndContent="@_currenciesContent" />
            </div>
            <small class="text-default-500 mt-1">Both</small>
        </div>
    </div>
</div>

@code {
    private RenderFragment _thermometerIcon = @<ThermometerIcon Size="20" class="text-default-400 shrink-0" />;
    private RenderFragment _circleGaugeIcon = @<CircleGaugeIcon Size="20" class="text-default-400 shrink-0" />;
    private RenderFragment _dollarSignIcon = @<DollarSignIcon Size="20" class="text-default-400 shrink-0" />;

    private RenderFragment _tempCelsiusContent =
    @<div class="pointer-events-none flex items-center">
        <span class="text-default-400 text-small">°C</span>
    </div>;

    private RenderFragment _speedContent =
    @<div class="pointer-events-none flex items-center">
        <span class="text-default-400 text-small">km/h</span>
    </div>;

    private RenderFragment _currenciesContent =
    @<div class="flex items-center">
        <label class="sr-only" for="currency">Currency</label>
        <select class="outline-hidden border-0 bg-transparent text-default-400 text-small"
                id="currency"
                name="currency"
                @onclick:stopPropagation="@true">
            <option>USD</option>
            <option>EUR</option>
            <option>SEK</option>
        </select>
    </div>;
}