@using LumexUI.Shared.Icons

<LumexNavbar Bordered="@true"
             Sticky="@true"
             Classes="@_navbarClasses">
    <LumexNavbarBrand>
        <span class="font-bold text-xl">
            Lumex<span class="font-normal">UI</span>
        </span>
    </LumexNavbarBrand>

    <LumexNavbarContent Class="hidden sm:flex">
        <LumexNavbarItem>
            <LumexLink Href="/examples/navbar/custom-styles#"
                       Color="@ThemeColor.None"
                       Class="px-4 py-1.5">
                Home
            </LumexLink>
        </LumexNavbarItem>
        <LumexNavbarItem>
            <LumexLink Href="/examples/navbar/custom-styles#"
                       Color="@ThemeColor.None"
                       Class="px-4 py-1.5">
                About
            </LumexLink>
        </LumexNavbarItem>
    </LumexNavbarContent>

    <LumexNavbarContent Align="@Align.End">
        <LumexTextbox Type="@InputType.Search"
                      Size="@Size.Small"
                      Placeholder="Type to search..."
                      Classes="@_inputClasses">
            <StartContent>
                <SearchIcon Size="20" />
            </StartContent>
        </LumexTextbox>
    </LumexNavbarContent>
</LumexNavbar>

@code {
    private NavbarSlots _navbarClasses = new()
    {
        Base = "border-b-2 border-default-100",
        Brand = "bg-clip-text bg-gradient-to-r from-foreground-900 to-foreground-600 text-transparent",
        Content = "gap-3",
        Item = "rounded-lg font-medium text-foreground bg-default-100 dark:bg-default-50"
    };

    private InputFieldSlots _inputClasses = new()
    {
        Base = "max-w-full sm:max-w-[10rem] h-8",
        Input = "text-tiny"
    };
}