@namespace LumexUI
@inherits LumexComponentBase

<span class="@Class"
      data-slot="trigger"
      data-popovertarget="@Popover.Id"
      aria-expanded="@Popover.Open.ToAttributeValue()"
      @onclick="@Popover.TriggerAsync"
      @attributes="@AdditionalAttributes">
    @ChildContent
</span>