@namespace LumexUI
@inherits LumexComponentBase

@if( Popover.Open )
{
    <PopoverWrapper Class="@Popover.Slots["Wrapper"]()">
        <div role="dialog"
             class="@Popover.Slots["Base"]( Popover.Classes?.Base, Popover.Class )"
             tabindex="-1"
             data-slot="base"
             data-open="@Popover.Open.ToAttributeValue()"
             @attributes="@Popover.AdditionalAttributes">
            <LumexComponent As="@As"
                            Class="@Popover.Slots["Content"](Popover.Classes?.Content, Class)"
                            Style="@RootStyle"
                            data-slot="content"
                            @attributes="@AdditionalAttributes">
                @ChildContent
            </LumexComponent>

            @if( Popover.ShowArrow )
            {
                <span class="@Popover.Slots["Arrow"]( Popover.Classes?.Arrow )"
                      data-slot="arrow" />
            }
        </div>
    </PopoverWrapper>

    @if( !Popover.IsTooltip )
    {
        <div style="z-index: 9999; position: fixed; inset: 0; background-color: transparent;"
             data-popover-overlay="@Popover.Id"
             @onclick="@Popover.CloseAsync" />
    }
}
