@namespace LumexUI.Docs.Client.Components

<div class="flex flex-wrap gap-3 mt-4">
    @if( IsServer )
    {
        <LumexButton As="a"
                     Size="@Size.Small"
                     StartContent="@_blazorIcon"
                     Class="bg-default-100 text-default-700 text-small"
                     href="https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/?view=aspnetcore-8.0#client-and-server-rendering-concepts"
                     target="_blank"
                     rel="noopener noreferrer">
            Static SSR
        </LumexButton>
    }

    <LumexButton As="a"
                 Size="@Size.Small"
                 StartContent="@_githubIcon"
                 Class="bg-default-100 text-default-700 text-small"
                 href="@($"{Constants.GitHub.ComponentPath}/{ComponentName}")"
                 target="_blank"
                 rel="noopener noreferrer">
        Source
    </LumexButton>

    <LumexButton As="a"
                 Size="@Size.Small"
                 StartContent="@_githubIcon"
                 Class="bg-default-100 text-default-700 text-small"
                 href="@($"{Constants.GitHub.ComponentStylesPath}/{ComponentName}.cs")"
                 target="_blank"
                 rel="noopener noreferrer">
        Styles source
    </LumexButton>
</div>

@code {
    [Parameter, EditorRequired] public string ComponentName { get; set; } = default!;
    [Parameter] public bool IsServer { get; set; }

    private readonly RenderFragment _blazorIcon = @<BlazorIcon Size="18" />;
    private readonly RenderFragment _githubIcon = @<GithubIcon Size="16" />;
}
