@using LumexUI.Shared.Icons

<LumexRadioGroup Label="Choose your preferred meal"
                 RadioClasses="@_radioClasses"
                 @bind-Value="@_value">
    <LumexRadio Value="@("Kebab")">
        <div class="flex items-center gap-4">
            <BeefIcon Size="32" />
            <div>
                <div class="font-medium">Steak</div>
                <p class="text-sm text-primary">$39.99</p>
            </div>
        </div>
    </LumexRadio>

    <LumexRadio Value="@("Ramen")">
        <div class="flex items-center gap-4">
            <SoupIcon Size="32" />
            <div>
                <div class="font-medium">Soup</div>
                <p class="text-small text-primary">$18.99</p>
            </div>
        </div>
    </LumexRadio>

    <LumexRadio Value="@("Pizza")">
        <div class="flex items-center gap-4">
            <PizzaIcon Size="32" />
            <div>
                <div class="font-medium">Pizza</div>
                <p class="text-small text-primary">$15.99</p>
            </div>
        </div>
    </LumexRadio>

    <LumexRadio Value="@("Nothing")">
        <div class="flex items-center gap-4">
            <CircleSlashIcon Size="32" />
            <div>
                <div class="font-medium">No Food</div>
                <p class="text-small text-primary">No Cost</p>
            </div>
        </div>
    </LumexRadio>
</LumexRadioGroup>

@code
{
    private string? _value;

    private RadioSlots _radioClasses = new()
    {
        Base = ElementClass.Empty()
            .Add( "m-0 justify-between bg-surface1 hover:bg-surface2" )
            .Add( "flex-row-reverse max-w-sm rounded-lg p-4 border-2 border-default-200" )
            .Add( "data-[selected=true]:border-primary data-[selected=true]:bg-primary/10" )
            .Add( "transition-colors" )
    };
}
