@page "/docs/getting-started/overview"
@layout DocsContentLayout

<PageTitle>Overview - LumexUI</PageTitle>

<DocsSection Title="Introduction">
    <p>
        LumexUI is an open-source project that offers a diverse set of beautifully designed Blazor components,
        all fully built with Tailwind CSS for streamlined and modern web development.
    </p>
    <p>
        These components are designed to be not only aesthetically pleasing but also highly customizable,
        allowing you to tailor them to meet your specific needs.
        The library is optimized for performance, ensuring that your applications remain fast and responsive.
    </p>
    <p>
        LumexUI’s foundations were influenced by modern React component libraries like HeroUI,
        particularly in how they approach Tailwind CSS, design, and customization.
        Our aim is to bring these principles into the Blazor ecosystem for developers who prefer working with Blazor.
    </p>
</DocsSection>

<DocsSection Title="Advantages of LumexUI">
    <ul>
        @foreach( var feature in _features )
        {
            <li>
                <strong>@feature.Title. </strong>@feature.Description
            </li>
        }
    </ul>
</DocsSection>

<DocsSection Title="What to read next">
    <p>
        <strong>Ready to dive in?</strong>
        Choose a starting point that fits your needs – though we recommend exploring all sections if possible!
    </p>

    <ul class="not-prose grid grid-cols-1 gap-8 mt-8 md:grid-cols-2">
        @foreach( var quickLink in _quickLinks )
        {
            <QuickLink Icon="@quickLink.Icon"
                       Link="@quickLink.Link"
                       Title="@quickLink.Title"
                       Description="@quickLink.Description" />
        }
    </ul>
</DocsSection>

<DocsSection Title="Community">
    <p>
        We're excited to see the community adopt LumexUI, raise issues, and provide feedback.
        Whether it's a feature request, bug report, or a project to showcase, please get involved!
    </p>

    <div class="not-prose mt-8 grid grid-cols-1 md:grid-cols-3 gap-4">
        <LumexCard Shadow="@Shadow.None"
                   Class="bg-slate-50 border border-default-900/5 transition-[border-color] hover:border-default-900/10 dark:bg-default-50">
            <LumexCardBody Class="p-4">
                <LumexLink External="@true"
                           Href="@Constants.GitHub.Path"
                           Color="@ThemeColor.None"
                           Class="font-medium text-foreground-900 before:absolute before:inset-0">
                    <GithubIcon Size="28" class="mr-3" />
                    Github repository
                </LumexLink>
            </LumexCardBody>
        </LumexCard>

        <LumexCard Shadow="@Shadow.None"
                   Class="bg-slate-50 border border-default-900/5 transition-[border-color] hover:border-default-900/10 dark:bg-default-50">
            <LumexCardBody Class="p-4">
                <LumexLink External="@true"
                           Href="@Constants.Discord.Path"
                           Color="@ThemeColor.None"
                           Class="font-medium text-foreground-900 before:absolute before:inset-0">
                    <DiscordIcon Size="28" class="mr-3 text-[#5865f2]" />
                    Discord community
                </LumexLink>
            </LumexCardBody>
        </LumexCard>
    </div>
</DocsSection>
